<div class="divider">
    <div class="box first-box">
        <span  ><em>Trip Zone</em></span><br>
        <span >About us</span><br>
        <span  >Awards</span><br>
        <span >Contact us</span><br>
    </div>
    <div class="box second-box">
        <span  >Hello</span><br>
        <span >Hello</span><br>
        <span  >Hello</span><br>
        <span >Hello</span><br>
    </div>
    <div class="box third-box">
        <span  >Hello</span><br>
        <span >Hello</span><br>
        <span  >Hello</span><br>
        <span >Hello</span><br>
    </div>
    <div class="box fourth-box">
        <span  >Hello</span><br>
        <span >Hello</span><br>
        <span  >Hello</span><br>
        <span >Hello</span><br>
    </div>
</div>
