<meta name="viwport" contnt="width=device-width;initial-scale=1.0">
<div class="container">
    <!-- Header banner Section-->
    <div class="bannerSection">
        <app-banner></app-banner>
    </div>
    <!-- Navigation Section-->
    <div class="menuSection">
        <app-menubar></app-menubar>
    </div>
    <!-- Welcome Content Section-->
    <div class="menuSection">
        <app-welcome-content></app-welcome-content>
    </div>
    <!-- Weather Channel Section-->
    <div class="menuSection">
        <app-weather></app-weather>
    </div>
    <!-- Destination Section-->
    <div class="menuSection">
        <app-destination></app-destination>
    </div>
    <!-- Promo Content Section-->
    <div class="menuSection">
        <app-promo-content></app-promo-content>
    </div>
    <!-- Quote Section-->
    <div class="menuSection">
        <app-quote></app-quote>
    </div>
    <!-- Footer Section-->
    <div class="menuSection">
        <app-footer></app-footer>
    </div>
</div>
